# Entornos virtuales
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDEs
.vscode/
.idea/

# SO
.DS_Store
src/.env
.env
\nsrc/.env
*.csv
*.html
*.json
